name: build_ci_multi_images

'on':
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  verify_secrets_ghcr_action:
    name: 'Verify credentials T ACTION'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'versions'
        run: podman --version; docker --version

      - name: 'pre'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      # upside: it logs out and aims to delete creds ~/.docker/config.json
      # downside: extra dependency, uses -p instead of --password-stdin
      - name: 'login (ghcr.io) as actor, via action'
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          username: '${{ github.actor }}'
          password: '${{ secrets.GITHUB_TOKEN }}'
          registry: 'ghcr.io/${{ github.repository_owner }}'

      - name: 'post'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

  verify_secrets_ghcr_command:
    name: 'Verify credentials T COMMAND'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'versions'
        run: podman --version; docker --version

      - name: 'pre'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'login (ghcr.io) as actor, via command-line'
        env:
          REGISTRY_USER: '${{ github.actor }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

      - name: 'post'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

  verify_secrets_ghcr_command_dual:
    name: 'Verify credentials T COMMAND DUAL'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'versions'
        run: podman --version; docker --version

      - name: 'pre'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'login (ghcr.io) as actor, via command-line'
        env:
          REGISTRY_USER: '${{ github.actor }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

      - name: 'post'
        run: ls -l "$HOME"/.docker/config.json || true; ls -l "${XDG_RUNTIME_DIR}"/containers/auth.json || true

  verify_secrets_ghcr:
    name: 'Verify credentials'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'versions'
        run: podman --version; docker --version

      # upside: it logs out and aims to delete creds ~/.docker/config.json
      # downside: extra dependency, uses -p instead of --password-stdin
      - name: 'login (ghcr.io) as actor, via action'
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          username: '${{ github.actor }}'
          password: '${{ secrets.GITHUB_TOKEN }}'
          registry: 'ghcr.io/${{ github.repository_owner }}'

      - name: 'login (ghcr.io) as actor'
        env:
          REGISTRY_USER: '${{ github.actor }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

      - name: 'login (ghcr.io) as repo owner'
        env:
          REGISTRY_USER: '${{ github.repository_owner }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

  verify_secrets_registries:
    name: 'Verify credentials (docker.io, quay.io)'
    runs-on: 'ubuntu-latest'
    if: ${{ github.secret_source == 'Actions' }}
    steps:
      - name: 'login (docker.io)'
        env:
          DOCKER_HUB_USER: '${{ secrets.DOCKER_HUB_USER }}'
          DOCKER_HUB_TOKEN: '${{ secrets.DOCKER_HUB_TOKEN }}'
        run: |
          echo "${DOCKER_HUB_TOKEN}" | podman login -u "${DOCKER_HUB_USER}" --password-stdin docker.io
          echo "${DOCKER_HUB_TOKEN}" | docker login -u "${DOCKER_HUB_USER}" --password-stdin

      - name: 'login (quay.io)'
        env:
          QUAY_USER: '${{ secrets.QUAY_USER }}'
          QUAY_TOKEN: '${{ secrets.QUAY_TOKEN }}'
        run: |
          echo "${QUAY_TOKEN}" | podman login -u "${QUAY_USER}" --password-stdin quay.io
          echo "${QUAY_TOKEN}" | docker login -u "${QUAY_USER}" --password-stdin quay.io

  build_multi_ci:
    name: 'build_multi_ci'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'install dev deps'
        run: |
          sudo rm -f /etc/apt/sources.list.d/{azure-cli.sources,microsoft-prod.list,ondrej-ubuntu-php-noble.sources}
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo apt-get -o Dpkg::Use-Pty=0 install \
            qemu-user-static buildah less git make podman clamav clamav-freshclam

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: 'build multi image'
        run: buildah unshare make branch_or_ref=master release_tag=master multibuild

      - name: 'test image'
        run: buildah unshare make dist_name=localhost/curl-multi release_tag=master test

      - name: 'install scan prereqs'
        run: /home/linuxbrew/.linuxbrew/bin/brew install grype trivy

      - name: 'security scan image'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          make image_name=localhost/curl-multi:master scan
