name: build_latest_release_multi_images

'on':
  push:
    tags:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  build_multi_latest_release_tag:
    name: 'build_multi_latest_release_tag'
    runs-on: 'ubuntu-latest'
    permissions:
      packages: write  # To create/update container on ghcr.io
    steps:
      - name: 'install dev deps'
        run: |
          sudo rm -f /etc/apt/sources.list.d/{azure-cli.sources,microsoft-prod.list,ondrej-ubuntu-php-noble.sources}
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo apt-get -o Dpkg::Use-Pty=0 install \
            qemu-user-static buildah less git make podman clamav clamav-freshclam

      - name: 'install prereqs'
        run: /home/linuxbrew/.linuxbrew/bin/brew install cosign grype trivy

      - name: 'versions'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          podman --version; docker --version; cosign version

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          tag_name: ${{ github.ref }}

      - name: 'set env vars'
        run: |
          release_tag_redirect=$(curl -s https://github.com/curl/curl/releases/latest -w'%{redirect_url}\n' -o /dev/null)
          latest_release_ref=$(basename "${release_tag_redirect}")
          echo "TAG_REF=$latest_release_ref" >> "$GITHUB_ENV"
          rel=${latest_release_ref:5}
          release_image_tag="${rel//_/.}"
          echo "REL=$release_image_tag" >> "$GITHUB_ENV"

      - name: 'build image: multi'
        run: buildah unshare make branch_or_ref="$TAG_REF" release_tag="$REL" multibuild

      - name: 'test image: multi'
        run: buildah unshare make dist_name=localhost/curl-multi release_tag="$REL" test

      - name: 'security scan image: multi'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          make image_name=localhost/curl-multi:"$REL" scan

      - name: 'login (ghcr.io)'
        env:
          REGISTRY_USER: '${{ github.repository_owner }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

      - name: 'push images (ghcr.io)'
        run: |
          buildah manifest push --format v2s2 --all localhost/curl-multi:"$REL"      docker://ghcr.io/"${GITHUB_REPOSITORY}"/curl-multi:"$REL"
          buildah manifest push --format v2s2 --all localhost/curl-base-multi:"$REL" docker://ghcr.io/"${GITHUB_REPOSITORY}"/curl-base-multi:"$REL"

      - name: 'sign images with sigstore key (ghcr.io)'
        env:
          COSIGN_PASSWORD: '${{ secrets.COSIGN_PASSWORD }}'
          COSIGN_PRIVATE_KEY: '${{ secrets.COSIGN_PRIVATE_KEY }}'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin ghcr.io/"${GITHUB_REPOSITORY}"/curl-multi:"$REL"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin ghcr.io/"${GITHUB_REPOSITORY}"/curl-base-multi:"$REL"

      - name: 'logout (ghcr.io)'
        run: |
          podman logout ghcr.io/"${GITHUB_REPOSITORY_OWNER}"
          docker logout ghcr.io/"${GITHUB_REPOSITORY_OWNER}"

      - name: 'verify images with public key (ghcr.io)'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cosign verify --key cosign.pub ghcr.io/"${GITHUB_REPOSITORY}"/curl-multi:"$REL"
          cosign verify --key cosign.pub ghcr.io/"${GITHUB_REPOSITORY}"/curl-base-multi:"$REL"

      - name: 'login (docker.io)'
        env:
          DOCKER_HUB_USER: '${{ secrets.DOCKER_HUB_USER }}'
          DOCKER_HUB_TOKEN: '${{ secrets.DOCKER_HUB_TOKEN }}'
        run: |
          echo "${DOCKER_HUB_TOKEN}" | podman login -u "${DOCKER_HUB_USER}" --password-stdin docker.io
          echo "${DOCKER_HUB_TOKEN}" | docker login -u "${DOCKER_HUB_USER}" --password-stdin

      - name: 'push images (docker.io)'
        run: |
          buildah manifest push --format v2s2 --all localhost/curl-multi:"$REL"      docker://docker.io/curlimages/curl:"$REL"
          buildah manifest push --format v2s2 --all localhost/curl-multi:"$REL"      docker://docker.io/curlimages/curl:latest
          buildah manifest push --format v2s2 --all localhost/curl-base-multi:"$REL" docker://docker.io/curlimages/curl-base:"$REL"
          buildah manifest push --format v2s2 --all localhost/curl-base-multi:"$REL" docker://docker.io/curlimages/curl-base:latest

      - name: 'sign images with sigstore key (docker.io)'
        env:
          COSIGN_PASSWORD: '${{ secrets.COSIGN_PASSWORD }}'
          COSIGN_PRIVATE_KEY: '${{ secrets.COSIGN_PRIVATE_KEY }}'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin docker.io/curlimages/curl:"$REL"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin docker.io/curlimages/curl:latest
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin docker.io/curlimages/curl-base:"$REL"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin docker.io/curlimages/curl-base:latest

      - name: 'logout (docker.io)'
        run: |
          podman logout docker.io
          docker logout

      - name: 'login (quay.io)'
        env:
          QUAY_USER: '${{ secrets.QUAY_USER }}'
          QUAY_TOKEN: '${{ secrets.QUAY_TOKEN }}'
        run: |
          echo "${QUAY_TOKEN}" | podman login -u "${QUAY_USER}" --password-stdin quay.io
          echo "${QUAY_TOKEN}" | docker login -u "${QUAY_USER}" --password-stdin quay.io

      - name: 'push images (quay.io)'
        run: |
          buildah manifest push --format v2s2 --all localhost/curl-multi:"$REL"      docker://quay.io/curl/curl:"$REL"
          buildah manifest push --format v2s2 --all localhost/curl-multi:"$REL"      docker://quay.io/curl/curl:latest
          buildah manifest push --format v2s2 --all localhost/curl-base-multi:"$REL" docker://quay.io/curl/curl-base:"$REL"
          buildah manifest push --format v2s2 --all localhost/curl-base-multi:"$REL" docker://quay.io/curl/curl-base:latest

      - name: 'sign images with sigstore key (quay.io)'
        env:
          COSIGN_PASSWORD: '${{ secrets.COSIGN_PASSWORD }}'
          COSIGN_PRIVATE_KEY: '${{ secrets.COSIGN_PRIVATE_KEY }}'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin quay.io/curl/curl:"$REL"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin quay.io/curl/curl:latest
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin quay.io/curl/curl-base:"$REL"
          echo "${COSIGN_PRIVATE_KEY}" | cosign sign -y --key /dev/stdin quay.io/curl/curl-base:latest

      - name: 'logout (quay.io)'
        run: |
          podman logout quay.io
          docker logout quay.io

      - name: 'verify images with public key (quay.io)'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cosign verify --key cosign.pub quay.io/curl/curl:"$REL"
          cosign verify --key cosign.pub quay.io/curl/curl:latest
          cosign verify --key cosign.pub quay.io/curl/curl-base:"$REL"
          cosign verify --key cosign.pub quay.io/curl/curl-base:latest

      - name: 'verify images with public key (docker.io)'
        # Seen flaky with 'Error: no signatures found' (with cosign v3.0.2). Do it last to let other steps finish.
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cosign -d verify --key cosign.pub docker.io/curlimages/curl:"$REL"
          cosign -d verify --key cosign.pub docker.io/curlimages/curl:latest
          cosign -d verify --key cosign.pub docker.io/curlimages/curl-base:"$REL"
          cosign -d verify --key cosign.pub docker.io/curlimages/curl-base:latest
