name: build_ci_multi_images

'on':
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  verify_secrets_ghcr:
    name: 'Verify credentials'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'login (ghcr.io) as actor'
        env:
          REGISTRY_USER: '${{ github.actor }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          podman --version
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          docker --version
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'logout (ghcr.io)'
        run: |
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          podman logout "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          docker logout "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'login (ghcr.io) as repo owner'
        env:
          REGISTRY_USER: '${{ github.repository_owner }}'
          REGISTRY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          podman --version
          echo "${REGISTRY_TOKEN}" | podman login -u "${REGISTRY_USER}" --password-stdin "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          docker --version
          echo "${REGISTRY_TOKEN}" | docker login -u "${REGISTRY_USER}" --password-stdin "ghcr.io/${GITHUB_REPOSITORY_OWNER}"

      - name: 'logout (ghcr.io)'
        run: |
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          podman logout "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          docker logout "ghcr.io/${GITHUB_REPOSITORY_OWNER}"
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

  verify_secrets_registries:
    name: 'Verify credentials (docker hub, quay)'
    runs-on: 'ubuntu-latest'
    if: ${{ github.secret_source == 'Actions' }}
    steps:
      - name: 'login (docker.io)'
        env:
          DOCKER_HUB_USER: '${{ secrets.DOCKER_HUB_USER }}'
          DOCKER_HUB_TOKEN: '${{ secrets.DOCKER_HUB_TOKEN }}'
        run: |
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          echo "${DOCKER_HUB_TOKEN}" | podman login -u "${DOCKER_HUB_USER}" --password-stdin docker.io
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          echo "${DOCKER_HUB_TOKEN}" | docker login -u "${DOCKER_HUB_USER}" --password-stdin
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'logout (docker.io)'
        run: |
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          podman logout docker.io
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          docker logout
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

      - name: 'login (quay.io)'
        env:
          QUAY_USER: '${{ secrets.QUAY_USER }}'
          QUAY_TOKEN: '${{ secrets.QUAY_TOKEN }}'
        run: |
          echo "${QUAY_TOKEN}" | podman login -u "${QUAY_USER}" --password-stdin quay.io
          echo "${QUAY_TOKEN}" | docker login -u "${QUAY_USER}" --password-stdin quay.io

      - name: 'logout (quay.io)'
        run: |
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          podman logout quay.io
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true
          docker logout quay.io
          ls -l "$HOME"/.docker/config.json || true; "${XDG_RUNTIME_DIR}"/containers/auth.json || true

  build_multi_ci:
    name: 'build_multi_ci'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'install dev deps'
        run: |
          sudo rm -f /etc/apt/sources.list.d/{azure-cli.sources,microsoft-prod.list,ondrej-ubuntu-php-noble.sources}
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo apt-get -o Dpkg::Use-Pty=0 install \
            qemu-user-static buildah less git make podman clamav clamav-freshclam

      - name: 'install prereqs'
        run: /home/linuxbrew/.linuxbrew/bin/brew install cosign grype trivy

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: 'build multi image'
        run: buildah unshare make branch_or_ref=master release_tag=master multibuild

      - name: 'test image'
        run: buildah unshare make dist_name=localhost/curl-multi release_tag=master test

      - name: 'security scan image'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          make image_name=localhost/curl-multi:master scan
